secadoraArduino/flows.json
[
    {
        "id": "7c834bf5.991cd4",
        "type": "tab",
        "label": "Secadora de Alimentos",
        "disabled": false,
        "info": "# Invernadero Arduino\n### Control de planta para invernadero Indoor via NodeRed y Arduino\n"
    },
    {
        "id": "e56cb424.7da3e8",
        "type": "mqtt in",
        "z": "7c834bf5.991cd4",
        "name": "",
        "topic": "horaActual",
        "qos": "2",
        "broker": "a11348fa.782ef8",
        "inputs": 0,
        "x": 67,
        "y": 229,
        "wires": [
            [
                "a3b3421c.fd336"
            ]
        ]
    },
    {
        "id": "a3b3421c.fd336",
        "type": "ui_text",
        "z": "7c834bf5.991cd4",
        "group": "a1db1541.074798",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 257,
        "y": 169,
        "wires": []
    },
    {
        "id": "a37219cb.b82748",
        "type": "mqtt in",
        "z": "7c834bf5.991cd4",
        "name": "",
        "topic": "vivo",
        "qos": "2",
        "broker": "a11348fa.782ef8",
        "inputs": 0,
        "x": 57,
        "y": 289,
        "wires": [
            [
                "50cc40a0.c96a3"
            ]
        ]
    },
    {
        "id": "50cc40a0.c96a3",
        "type": "ui_toast",
        "z": "7c834bf5.991cd4",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Status",
        "name": "Status...",
        "x": 269,
        "y": 243,
        "wires": []
    },
    {
        "id": "60541728.741ae8",
        "type": "mqtt out",
        "z": "7c834bf5.991cd4",
        "name": "",
        "topic": "comandos",
        "qos": "",
        "retain": "",
        "broker": "a11348fa.782ef8",
        "x": 290,
        "y": 300,
        "wires": []
    },
    {
        "id": "35058dbc.69f1c2",
        "type": "ui_button",
        "z": "7c834bf5.991cd4",
        "name": "",
        "group": "4c49f299.b714dc",
        "order": 0,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Paro de emergencia",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "comando:regar",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 520,
        "y": 840,
        "wires": [
            [
                "18ca50a26d203e8f"
            ]
        ]
    },
    {
        "id": "1cdb3141.0d926f",
        "type": "ui_button",
        "z": "7c834bf5.991cd4",
        "name": "",
        "group": "4c49f299.b714dc",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Bajar Temperatura",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "comando:enfriar",
        "payloadType": "str",
        "topic": "",
        "x": 110,
        "y": 580,
        "wires": [
            [
                "60541728.741ae8"
            ]
        ]
    },
    {
        "id": "f57784c0.d8df38",
        "type": "mqtt in",
        "z": "7c834bf5.991cd4",
        "name": "",
        "topic": "popup",
        "qos": "2",
        "broker": "a11348fa.782ef8",
        "inputs": 0,
        "x": 55,
        "y": 348,
        "wires": [
            [
                "50cc40a0.c96a3"
            ]
        ]
    },
    {
        "id": "b3c136b5.282e78",
        "type": "ui_chart",
        "z": "7c834bf5.991cd4",
        "name": "",
        "group": "225ed1a0.76225e",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Gráfica temperatura:  {{msg.payload}}ºC",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 810,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "54cf88c5.e8ce68",
        "type": "ui_chart",
        "z": "7c834bf5.991cd4",
        "name": "",
        "group": "3c2120a5.30482",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Peso (gramos): {{msg.payload}}%",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 810,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "c8e0f42e.62fa98",
        "type": "mqtt in",
        "z": "7c834bf5.991cd4",
        "name": "",
        "topic": "secadora/lectura/carga",
        "qos": "2",
        "datatype": "auto",
        "broker": "a11348fa.782ef8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 520,
        "y": 20,
        "wires": [
            [
                "54cf88c5.e8ce68"
            ]
        ]
    },
    {
        "id": "ec5a6c1e.33958",
        "type": "mqtt in",
        "z": "7c834bf5.991cd4",
        "name": "",
        "topic": "house/bulbs/bulb1",
        "qos": "2",
        "datatype": "auto",
        "broker": "a11348fa.782ef8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 490,
        "y": 180,
        "wires": [
            [
                "25837a11275dd703"
            ]
        ]
    },
    {
        "id": "1875887a.858ec8",
        "type": "mqtt in",
        "z": "7c834bf5.991cd4",
        "name": "",
        "topic": "secadora/lectura/temperatura",
        "qos": "2",
        "datatype": "auto",
        "broker": "a11348fa.782ef8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 540,
        "y": 80,
        "wires": [
            [
                "b3c136b5.282e78",
                "766ad5c0813d82e9"
            ]
        ]
    },
    {
        "id": "2ea8cabf.2c5176",
        "type": "ui_button",
        "z": "7c834bf5.991cd4",
        "name": "",
        "group": "4c49f299.b714dc",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Subir Temperatura",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "comando:calentar",
        "payloadType": "str",
        "topic": "",
        "x": 110,
        "y": 640,
        "wires": [
            [
                "60541728.741ae8"
            ]
        ]
    },
    {
        "id": "b3937926.5fd848",
        "type": "mqtt in",
        "z": "7c834bf5.991cd4",
        "name": "",
        "topic": "nivelAgua",
        "qos": "2",
        "datatype": "auto",
        "broker": "a11348fa.782ef8",
        "inputs": 0,
        "x": 68,
        "y": 411,
        "wires": [
            []
        ]
    },
    {
        "id": "e3b868ba909021e9",
        "type": "ui_button",
        "z": "7c834bf5.991cd4",
        "name": "",
        "group": "4c49f299.b714dc",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Iniciar proceso",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "ok",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 520,
        "y": 700,
        "wires": [
            [
                "3a56413de3b2a8d4"
            ]
        ]
    },
    {
        "id": "3a56413de3b2a8d4",
        "type": "function",
        "z": "7c834bf5.991cd4",
        "name": "",
        "func": "//msg.payload = global.get (\"temperatura1\") + \":\" + global.get (\"tiempo1\");\nmsg.payload = \"{\\\"temp\\\":\" + global.get (\"temperatura1\") +\n\", \\\"tiem\\\":\" + global.get (\"tiempo1\") + \", \\\"acti\\\":1}\"\nreturn msg;\n\n\n//{\\\"temp\\\":23, \\\"humedad\\\":80, \\\"activo\\\":1.23}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 700,
        "wires": [
            [
                "af1e5b4dc66c2b37",
                "f96b01a91701de07"
            ]
        ]
    },
    {
        "id": "af1e5b4dc66c2b37",
        "type": "debug",
        "z": "7c834bf5.991cd4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 760,
        "wires": []
    },
    {
        "id": "f96b01a91701de07",
        "type": "mqtt out",
        "z": "7c834bf5.991cd4",
        "name": "",
        "topic": "secadora/controles",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a11348fa.782ef8",
        "x": 1110,
        "y": 640,
        "wires": []
    },
    {
        "id": "148b763cdd117862",
        "type": "json",
        "z": "7c834bf5.991cd4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 930,
        "y": 380,
        "wires": [
            [
                "983340df64291f65",
                "3d864f15423cd287"
            ]
        ]
    },
    {
        "id": "983340df64291f65",
        "type": "function",
        "z": "7c834bf5.991cd4",
        "name": "",
        "func": "msg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 380,
        "wires": [
            [
                "def8b5eda0ba6721"
            ]
        ]
    },
    {
        "id": "b25763285c5c538a",
        "type": "mqtt in",
        "z": "7c834bf5.991cd4",
        "name": "",
        "topic": "sic/flow/temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "edd3004a.11da88",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 850,
        "y": 280,
        "wires": [
            [
                "148b763cdd117862"
            ]
        ]
    },
    {
        "id": "def8b5eda0ba6721",
        "type": "debug",
        "z": "7c834bf5.991cd4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 380,
        "wires": []
    },
    {
        "id": "3d864f15423cd287",
        "type": "function",
        "z": "7c834bf5.991cd4",
        "name": "",
        "func": "msg.payload = msg.payload.humedad;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "766ad5c0813d82e9",
        "type": "ui_gauge",
        "z": "7c834bf5.991cd4",
        "name": "",
        "group": "225ed1a0.76225e",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura actual",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 890,
        "y": 200,
        "wires": []
    },
    {
        "id": "34a11b2afe62eca9",
        "type": "ui_text_input",
        "z": "7c834bf5.991cd4",
        "name": "",
        "label": "Temperatura",
        "tooltip": "",
        "group": "a1db1541.074798",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 530,
        "y": 520,
        "wires": [
            [
                "ab501ac89b4ad8d7"
            ]
        ]
    },
    {
        "id": "ab501ac89b4ad8d7",
        "type": "function",
        "z": "7c834bf5.991cd4",
        "name": "",
        "func": "global.set (\"temperatura1\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "44ee8a814334f3b0",
        "type": "ui_text_input",
        "z": "7c834bf5.991cd4",
        "name": "",
        "label": "Tiempo",
        "tooltip": "",
        "group": "a1db1541.074798",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 520,
        "y": 580,
        "wires": [
            [
                "7f52a6738a91dc72"
            ]
        ]
    },
    {
        "id": "7f52a6738a91dc72",
        "type": "function",
        "z": "7c834bf5.991cd4",
        "name": "",
        "func": "global.set (\"tiempo1\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "25837a11275dd703",
        "type": "ui_gauge",
        "z": "7c834bf5.991cd4",
        "name": "",
        "group": "3c2120a5.30482",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Velocidad motor (rpm)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1200,
        "y": 140,
        "wires": []
    },
    {
        "id": "530ed9b9a357835c",
        "type": "mqtt out",
        "z": "7c834bf5.991cd4",
        "name": "",
        "topic": "house/bulbs/bulb2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a11348fa.782ef8",
        "x": 910,
        "y": 840,
        "wires": []
    },
    {
        "id": "18ca50a26d203e8f",
        "type": "function",
        "z": "7c834bf5.991cd4",
        "name": "",
        "func": "//msg.payload = global.get (\"temperatura1\") + \":\" + global.get (\"tiempo1\");\nmsg.payload = \"{\\\"temp\\\":\" + global.get (\"temperatura1\") +\n\", \\\"tiem\\\":\" + global.get (\"tiempo1\") + \", \\\"acti\\\":0}\"\nreturn msg;\n\n\n//{\\\"temp\\\":23, \\\"humedad\\\":80, \\\"activo\\\":1.23}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 840,
        "wires": [
            [
                "530ed9b9a357835c"
            ]
        ]
    },
    {
        "id": "a11348fa.782ef8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a1db1541.074798",
        "type": "ui_group",
        "name": "Variables de Entrada",
        "tab": "ecb20a5.b1b28f8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4c49f299.b714dc",
        "type": "ui_group",
        "name": "Acciones",
        "tab": "ecb20a5.b1b28f8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "225ed1a0.76225e",
        "type": "ui_group",
        "name": "Temperatura (grados)",
        "tab": "ecb20a5.b1b28f8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3c2120a5.30482",
        "type": "ui_group",
        "name": "Peso (gramos)",
        "tab": "ecb20a5.b1b28f8",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "edd3004a.11da88",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "hugo-SIC-453",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ecb20a5.b1b28f8",
        "type": "ui_tab",
        "name": "Secadora de Alimentos V0.1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]